apiVersion: v1
kind: ConfigMap
metadata:
  name: baculum-web
  namespace: backup
data:
  baculum.users: |-
    admin:YWG41BPzVAkN6


  hosts.conf: |-
    [Main]
    auth_type = "basic"
    login = "admin"
    password = "admin"
    client_id = ""
    client_secret = ""
    redirect_uri = ""
    scope = ""
    protocol = "http"
    address = "baculum-api"
    port = "9096"
    url_prefix = ""

  settings.conf: |-
    [baculum]
    debug = "0"
    lang = "en"
    max_jobs = "15000"
    size_values_unit = "decimal"
    time_in_job_log = "0"
    date_time_format = "Y-M-D R"
    enable_messages_log = "1"
    login = "admin"

    [users]

    [auth_basic]
    allow_manage_users = "1"
    user_file = "/etc/baculum/Config-web-apache/baculum.users"
    hash_alg = "apr-md5"

    [security]
    auth_method = "basic"
    def_access = "default_settings"
    def_role = "normal"
    def_api_host = "Main"

  users.conf: |-
    [admin]
    long_name = ""
    description = ""
    email = ""
    roles = "admin"
    api_hosts = ""
    enabled = "1"
    ips = ""

